* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
}

header {
    border-radius: 1rem;
    font-size: 4rem;
    text-align: center;
    background-color: gray;
    margin: 1rem;
    padding: 1rem;
}

a {
    text-decoration: none;
}

span {
    color: crimson;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 3rem;
    margin: 1rem;
}

h2 {
    font-size: 2.5rem;
    margin: 1rem;
}

p {
    font-size: 1.5rem;
    text-align: left;
    margin: 1rem;
}

.column {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.sidebar {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
}


.bar { 
    display: flex;
    color: black;
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
    padding: 1.5rem;
    transition: 0.3s;
    border-radius: 1rem;
    filter: grayscale(20%) opacity(0.5);
}

.bar:hover {
    filter: contrast(100%);
}

.container {
    border-style: solid;
    text-align: center;
    width: 100%;
    padding: 1rem;
}

/* .container-row {
    display: flex;
    flex-direction: row;
} */

.active {
    background-color: gray;
    filter: grayscale(0) opacity(1);
}

table tr:nth-child(even){background-color: #f2f2f2;}

table {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}
table tr:hover {
    background-color: #ddd;
}
table td, table th {
  border: 1px solid white;;
  padding: 1rem;
  font-size: 1rem;
}


#education th {
    background-color: dodgerblue;
    color: white;
}

#job th {
    background-color: blueviolet;
    color: white;
}


@media only screen and (max-width: 960px) {
    header {
        font-size: 3.5rem;
    }
    .column {
        flex-direction: column;
    }
    .sidebar {
        flex-direction: row;
        width: 100%;
    }
    .bar {
        font-size: 1rem;
    }
    .h1 {
        font-size: 2rem;
    }
    img {
        width: 100%;
        height: auto;
        margin: auto;
    }
}